
header{
    display: flex;
    justify-content:space-around;
    align-items: center; 
    background-color: aqua;
    
}

body{
    background-color:#e96cce75;
    align-items: center;
    display: flex;
}

