:root{
    --cor-de-fundo: #e96cce75;
    --cor-de-fundo-2: #ffffff00;

}

header{
    display: flex;
    justify-content:space-around;
    align-items: center; 
    background-color: aqua;
    
}

body{
    background-color: var(--cor-de-fundo);
}

